<div class="container">
    <button style="visibility: hidden;" #hhh (click)="refreshP()"></button>
    <!-- board area  -->
    <div *ngIf="(remoteConnectionStatus||offerConnectionStatus||true)">
        <ng-container *ngFor="let row of boardArray; index as i;">
            <div class="row">
                <ng-container *ngFor="let items of row; index as j;">
                    <div [id]="'Bx'+i+''+j" (click)="move(i,j)" [class]="items.addCls" class="col"
                        [class.bg-dark]="(i+j)%2">
                        <img [src]="items.src" [class]="items.pieceType" [class.white]="items.playerType == 'w'" />
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <button (click)="undo()" [disabled]="disableUndoBtn">UNDO</button>
    </div>
    <!-- board area  -->

    <p>{{turn}}{{refresh}}</p>
    <div class="connect" *ngIf="!(remoteConnectionStatus||offerConnectionStatus)">
        <button (click)="initRtc()">create offer</button>
        <!-- <input placeholder="offer here" (change)="saveRemoteOffer($event)" type="text">
        <button (click)="generateAnswer()">generate anser</button> -->
        <ng-container *ngIf="offer">
            <input placeholder="answer here" (change)="saveRemoteAnswer($event)" type="text">
            <button (click)="localConnect()">connect</button>
        </ng-container>
        <a [href]="offer" target="_blank">{{offer}}</a>
        <a>{{"answer:"}} {{answer|json}}</a>
    </div>

    <div *ngIf="offerConnectionStatus" class="messages">
        <button (click)="offerChannelSender()">offer sender</button>
    </div>
    <div *ngIf="remoteConnectionStatus" class="messages">
        <button (click)="remoteChannelSender()">remote sender</button>
    </div>
    <button (click)="closeConnection()">close</button>
</div>