.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .userNames {
        border: 1px solid red;
        width: 560px;
        display: flex;
        justify-content: space-between;
    }

    .disableBoard {
        pointer-events: none;
    }

    .rotate {
        transform: rotate(180deg);
    }

    .row {
        display: flex;
        width: 560px;
        user-select: none;

        .col {
            height: 70px;
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(247, 247, 247);

            &:hover {
                border: 2px solid black;
            }

            &.bg-dark {
                background-color: rgb(51, 248, 255) !important;
            }

            img {
                height: 100%;

                //black white playerType
                &.white {
                    filter: invert(1);
                }

                //clipping classes
                &.pawn {
                    clip-path: polygon(15% 45%, 85% 45%, 100% 100%, 0% 100%, 10% 80%);
                }

                &.king {
                    clip-path: polygon(20% 1%, 80% 1%, 100% 100%, 0% 100%);
                }

                &.queen {
                    clip-path: polygon(20% 9%, 80% 9%, 100% 100%, 0% 100%);
                }

                &.camel {
                    clip-path: polygon(20% 20%, 80% 20%, 100% 100%, 0% 100%);
                }

                &.horse {
                    clip-path: polygon(0% 23%, 100% 23%, 100% 100%, 0% 100%);
                }

                &.ele {
                    clip-path: polygon(17% 33%, 83% 33%, 100% 100%, 0% 100%);
                }
            }
        }

        .selected {
            border: 2px dashed black !important;
        }

        .moveOpt {
            border: 2px solid rgb(0, 0, 0);
        }

        .kingChecked {
            border: 2px solid rgb(243, 51, 51);
            z-index: 100000;
            box-shadow: 0px 0px 3px 3px red;
        }
    }

    .connect {
        display: flex;
        flex-direction: column;
        align-items: center;

        * {
            margin: 20px;
        }
    }

    .chatBox {
        width: 400px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid gray;
        box-shadow: 2px 2px 8px 1px rgba(128, 128, 128, 0.525);

        .message {
            margin: 5px 0;
            width: 100%;

            &.local {
                text-align: right;
            }
            &.remote {
                text-align: left;
            }
        }

        input{
            margin-top: 10px;
        }
    }
}