<div class="container">
    <!-- nav  -->
    <div class="sidenav">
        <button (click)="pingGameReset()">
            <img src="../../../../../assets/icons/restart.svg" alt="restart.svg">
        </button>
        <button title="Leave" *ngIf="status.code != 1" (click)="leave()">
            <img src="../../../../../assets/icons/logout.svg" alt="restart.svg">
        </button>
    </div>
    <!-- nav  -->

    <!-- board area  -->
    <div class="playground">
        <h3 *ngIf="status.code > 3" class="status">{{'status : '+status.message}}</h3>
        <div *ngIf="status.code == 2" class="joinLink">
            <h3>{{joinLink}} </h3>
            <button (click)="copyLink()">
              Share Invite Link 
               <img *ngIf="linkClicked" src="../../../../../assets/icons/content_copy_fill.svg" alt="">
               <img *ngIf="!linkClicked" src="../../../../../assets/icons/content_copy.svg" alt="">
            </button>
        </div>

        <div *ngIf="status.code < 3" class="loaderBox">
            <img [src]="loadingAssets[loadingindex].path" alt="">
            <span> {{status.code == 1 ? 'Joining...':'Waiting for other player...'}} </span>
        </div>
        <div *ngIf="status.code == 3" class="boardArea">
            <div class="ripBox host">
                <ng-container *ngFor="let piece of ripPiecesArr">
                    <div class="ripPieces"
                        *ngIf="localPlayerType == 'host' && piece.playerType == 'w' || localPlayerType == 'guest' && piece.playerType == 'b'">
                        <img [class]="piece.pieceType" [class.white]="piece.playerType == 'w'" [src]="piece.src"
                            alt="piece.src">
                        <span *ngIf="piece.count > 1">{{piece.count}}</span>
                    </div>
                </ng-container>
                <div class="user-info">
                    <img src="../../../../../assets/icons/account_circle.svg" alt="">
                    <h3>You</h3>
                </div>
            </div>
            <!-- <div class="board" *ngIf="status == 'started'" [class.rotate]="localPlayerType == 'guest'" -->
            <div class="board" [class.rotate]="localPlayerType == 'guest'"
                [class.disableBoard]="localPlayerType == 'host' && turn == 'b' || localPlayerType == 'guest' && turn == 'w'">
                <ng-container *ngFor="let row of boardArray; index as i;">
                    <div class="row">
                        <ng-container *ngFor="let items of row; index as j;">
                            <div [id]="'Bx'+i+''+j" (click)="move(i,j)" [class]="items.addCls" class="col"
                                [class.rotate]="localPlayerType == 'guest'" [class.bg-dark]="(i+j)%2">
                                <img [src]="items.src" [class]="items.pieceType"
                                    [class.white]="items.playerType == 'w'" />
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <!-- <button (click)="undo()" [disabled]="disableUndoBtn">UNDO</button> -->
            </div>

            <div class="ripBox guest">
                <ng-container *ngFor="let piece of ripPiecesArr">
                    <div class="ripPieces"
                        *ngIf="localPlayerType == 'host' && piece.playerType == 'b' || localPlayerType == 'guest' && piece.playerType == 'w'">
                        <img [class]="piece.pieceType" [class.white]="piece.playerType == 'w'" [src]="piece.src"
                            alt="piece.src">
                        <span *ngIf="piece.count > 1">{{piece.count}}</span>
                    </div>
                </ng-container>
                <div class="user-info">
                    <img src="../../../../../assets/icons/account_circle.svg" alt="">
                    <h3>{{remotePlayer.userName}}</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- board area  -->

    <!-- chat box -->
    <!-- <div *ngIf="status == 'started'" class="chatBox" class="chatRoom"> -->
    <div *ngIf="status.code == 3" class="chatRoom">
        <h2 class="label">Chat Room</h2>
        <div class="chatBox">
            <p class="opponentName">
                <img src="../../../../../assets/icons/account_circle.svg" alt="">
                {{remotePlayer.userName}}
            </p>
            <div #msgWrapper class="msg-wrapper">
                <ng-container *ngFor="let message of chats; index as i;">
                    <div class="message-box" [class]="message.side">
                        <p [class]="message.side" class="message">{{message.message}}</p>
                    </div>
                </ng-container>
            </div>
            <input (keyup)="pingChatMessage($event)" placeholder="Type a message here" type="text"
                [(ngModel)]="chatMessage">
        </div>
    </div>
    <!-- chat box -->

    <!-- loader -->
    <div *ngIf="status.code > 3" class="loaderWrapper">
        <div class="loaderBox">
            <h4>{{status.code == 4 ? remotePlayer.userName+" Left the game":"we are sorry something went wrong !"}}</h4>
            <button title="Leave" *ngIf="status.code != 1" (click)="leave()">
                <img src="../../../../../assets/icons/logout.svg" alt="restart.svg">
            </button>
        </div>
    </div>
    <!-- loader -->
</div>