/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    padding: 0;
    margin: 0;
}

:root {
    --darkerPrimary: #1e6dbf;
    --darkPrimary: #3487df;
    --primary: #3c95f4;
    --lightPrimary: #97c6f9;
    --bg: #e5e7e8;
    --dark: #373737;
}